* {
    margin: 0;
    padding: 0;
}
.slash {
    margin: 0 3px 0 3px;
}
a {
    text-decoration: none;
    display: inline-block;
}
ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1140px;
    height: 100%;
    margin: 0 auto;
}
.body {
    font-family: "Lato", sans-serif;
}
.header {
    &__top {
        background-color: #222222;
        height: 75px;
    }
    &__top-icons {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    &__top-logo {
        padding: 18px 41px 18px 0;
    }
    &__top-search {
        padding: 28px 0 20px;
    }
    &__top-menu {
        padding: 30px 33px 22px;
    }
    &__top-profile {
        padding: 26px 0 20px;
    }
    &__top-basket {
        padding: 26px 0 20px 33px;
        position: relative;
        &__count {
            position: absolute;
            background: #f16d7f;
            width: 19px;
            height: 19px;
            text-align: center;
            color: #ebebeb;
            border-radius: 50%;
            right: -1%;
            top: 27%;
        }
    }

    &__content {
        background-color: #f1e4e6;
    }
    &__content-img__person {
        margin-bottom: -3px;
    }
    &__content-img2 {
        display: none;
    }
    &__content-img__person {
        margin-bottom: -4px;
    }
    &__content-items {
        display: flex;
        align-items: center;
    }
    &__content-text {
        font-family: "Lato", sans-serif;
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        color: #222222;
        border-left: 12px solid #f16d7f;
        height: min-content;
        padding-left: 16px;
        margin-left: 250px;
        &__topword {
            font-weight: 900;
            font-size: 48px;
            line-height: 57px;
        }
        &__lastword {
            color: #f16d7f;
        }
    }
}
.categories {
    margin-top: 65px;
    display: grid;
    grid-gap: 30px;
    background: rgb(255, 255, 255);
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: 260px 180px;
    grid-template-areas:
        "women men kids"
        "accesories accesories accesories";
    &__link {
        color: #ffffff;
        text-decoration: none;
    }
    &__text {
        font-family: Lato;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: white;
        padding-top: 105px;
    }
    &__text-accesories {
        padding-top: 65px;
    }
    &__text-big {
        font-weight: 700;
        font-size: 31px;
        line-height: 38px;
        color: #f16d7f;
    }
    &__women {
        grid-area: women;
        background: url(img/woman.png);
    }
    &__men {
        grid-area: men;
        background: url(img/men.png);
    }
    &__kids {
        grid-area: kids;
        background: url(img/kids.png);
    }
    &__accesories {
        grid-area: accesories;
        background: url(img/accesories.png);
    }
}
.products {
    margin: 95px 0 95px;
    &__header {
        font-family: "Lato", sans-serif;
        font-size: 30px;
        line-height: 36px;
        color: #222222;
        text-align: center;
    }
    &__description {
        font-family: "Lato", sans-serif;
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        color: #9f9f9f;
        margin-bottom: 48px;
    }
    &__cardbox {
        display: grid;
        grid-gap: 30px;
        background: #f8f8f8;
        grid-template-columns: repeat(3, 360px);
        grid-template-rows: min-content;
        grid-template-areas:
            "product1 product2 product3"
            "product4 product5 product6";
    }
    &__cardbox-item {
        border: 1px solid transparent;
        box-sizing: border-box;
        &__img-parent {
            position: relative;
        }
        &__img {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }
        &__img-bg {
            background: rgba(58, 56, 56, 0.86);
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: none;
        }
        &__img-btn {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #ffffff;
            border: 1px solid rgb(255, 255, 255);
            padding: 13px 13px 13px 50px;
            position: absolute;
            background-color: transparent;
            left: 111px;
            top: 188.5px;
            box-sizing: border-box;
        }
        &__img-btn::before {
            position: absolute;
            content: url(img/basket2.svg);
            left: 13px;
            padding: 0 10px 8px 0;
        }
        &:hover .products__cardbox-item__img-bg {
            display: block;
        }
        &__header {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            font-size: 13px;
            line-height: 16px;
            color: #000000;
            margin: 25px 18px 0 18px;
            transition: 1s;
            &:hover {
                color: #f16d7f;
            }
        }
        &__description {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5d5d5d;
            margin: 13px 28px 18px 18px;
        }
        &__price {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #f16d7f;
            margin: 18px 18px 20px 18px;
        }
    }

    &__button {
        text-align: center;
    }
    &__btn {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #ff6a6a;
        padding: 15px 38px;
        background: #ffffff;
        border: 1px solid #ff6a6a;
        margin-top: 48px;
        text-align: center;
    }
    &__btn:hover {
        background: #f16d7f;
        color: #ffffff;
        transition: 1s;
    }
}
.advantages {
    background-color: #222224;
    &__list {
        padding: 104px 0 104px;
        display: flex;
        justify-content: space-between;
    }
    &__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__header {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 19.96px;
            line-height: 24px;
            color: #fbfbfb;
            margin: 25px 18px 0 18px;
        }
        &__header2 {
            margin-top: 19px;
        }
        &__description {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 13.972px;
            line-height: 17px;
            color: #fbfbfb;
            text-align: center;
            padding: 16px 16px 0;
            opacity: 0.6;
        }
    }
}
.footer {
    &__top {
        background-image: url(img/footer.png);
        background-repeat: round;
        min-height: 448px;
    }
    &__top-content {
        padding-top: 86px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__quote {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 360px;
        }
        &__quote-text {
            margin-top: 30px;
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #222224;
        }
        &__subscribe-text {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 21px;
            text-align: center;
            color: #222224;
            margin-bottom: 57px;
        }
        &__subscribe-topword {
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
        }
        &__subscribe-form {
            display: flex;
        }
        &__subscribe-input {
            border-radius: 50px 0 0 50px;
            border: transparent;
            box-sizing: border-box;
            background: #e1e1e1;
            width: 250px;
            height: 50px;
            padding: 14px;
        }
        &__subscribe-button {
            border-radius: 0 50px 50px 0;
            border: solid 1px #f16d7f;
            box-sizing: border-box;
            width: 100px;
            height: 50px;
            background-color: #f16d7f;
            display: flex;
            transition: 1s;
            & a {
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 23px;
                text-align: center;
                color: #ffffff;
                padding: 14px;
                &:hover {
                    color: #f16d7f;
                }
            }
            &:hover {
                background-color: #ffffff;
            }
        }
    }
    &__copy {
        background-color: #222224;
        height: 80px;
    }
    &__copy-text {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 19px;
        color: #fbfbfb;
        padding: 30px 30px 30px 0;
    }
    &__copy-items {
        display: flex;
        justify-content: space-between;
    }
    &__copy-icons {
        margin-top: 23px;
    }
    &__copy-icon {
        border-color: black;
        box-sizing: border-box;
        padding: 10px;
        background-color: #ffffff;
        height: 32px;
        width: 32px;
        transition: 1s;
    }
    &__copy-icon:hover {
        background-color: #f16d7f;
    }
}
#menu {
    width: 232px;
    height: 765px;
    background-color: #ffffff;
    position: absolute;
    left: 1368px;
    top: 75px;
    opacity: 0;
    visibility: hidden;
}

/* CATALOG */
.header {
    &__bread {
        background-color: #f8f3f4;
        height: 148px;
    }
    &__bread-items {
        display: flex;
        justify-content: space-between;
        height: 100%;
        align-items: center;
    }
    &__bread-activePage {
        font-family: "Lato", sans-serif;
        font-size: 24px;
        line-height: 29px;
        font-weight: 400;
        color: #f16d7f;
    }
    &__bread-catalogNav {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #636363b6;
        & a:not(:last-child) {
            color: #636363b6;
        }
        & a:hover {
            color: #f16d7f;
        }
    }
    &__bread-activePageSmall {
        color: #f16d7f;
        font-weight: 700;
    }
}
.catalog {
    min-height: 75vh;
    &__filter {
        display: flex;
        margin: 51px 0 64px 16px;
        transition: 1s;
    }
    &__filter-categories {
        font-family: "Lato", sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        margin-right: 304px;
        position: relative;
        transition: 1s;
        #activeFilter {
            font-family: "Lato", sans-serif;
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            color: #ef5b70;
        }
        &:hover &__menulist {
            display: block;
        }
        &__menulist {
            width: 360px;
            min-height: 200px;
            background: #ffffff;
            box-shadow: 0 0 5px 5px #e7e6e6;
            position: absolute;
            left: -21px;
            top: 0;
            padding: 13px 16px 16px 16px;
            z-index: 1;
            display: none;
            & summary {
                list-style-type: none;
            }
        }
        &__menulist-category {
            font-family: "Lato", sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            margin-top: 16px;
            padding-left: 11px;
            line-height: 3;
            border-left: 5px solid #ef5b70;
            border-bottom: 1px solid transparent;
            box-shadow: 0 0 1px 1px #f3f3f3;
            cursor: pointer;
        }
        &__menulist-category:hover {
            color: #ef5b70;
        }
        &__menulist-links {
            margin: 24px 12px;
        }
        &__menulist-links a {
            display: block;
            padding-bottom: 11px;
            font-family: "Lato", sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6f6e6e;
        }
    }
    &__filter-categories img {
        width: 15;
        height: 10px;
        margin-left: 11px;
    }
    &__filter-sorting {
        display: flex;
        font-family: "Lato", sans-serif;
        font-size: 14px;
        line-height: 17px;
        color: #6f6e6e;
        &__size {
            height: 25px;
            position: relative;
        }
        &__size:hover #size {
            display: block;
        }
    }
    &__filter-sorting img {
        margin-left: 10px;
    }
    &__filter-sorting > div:not(:last-child) {
        margin-right: 28px;
    }
    #size {
        display: flex;
        flex-direction: column;
        width: 79px;
        height: 103px;
        background: #ffffff;
        box-shadow: 0 0 5px 5px #e7e6e6;
        box-sizing: border-box;
        top: 25px;
        right: -5px;
        position: absolute;
        z-index: 1;
        padding: 10px;
        display: none;
    }
    #sizebox {
        margin-right: 10px;
    }
}
.pagination {
    margin: 0 auto;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    width: 283px;
    height: 43px;
    margin-top: 47px;
    margin-bottom: 96px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    & a {
        font-family: "Lato", sans-serif;
        color: #e2e1e1;
    }
    & a:hover {
        color: #ef5b70;
    }
}

// PRODUCT
.product {
    &__cardbox {
        margin: 128px 0 128px;
    }
    &__slider {
        background-color: #f7f7f7;
        border: 1px solid #eaeaea;
        position: relative;
        > img {
            margin-top: 11px;
            margin-bottom: 42px;
            margin-left: auto;
            margin-right: auto;
            display: block;
            max-width: 100%;
            object-fit: cover;
        }
        > div {
            height: 47px;
            width: 47px;
            background: rgba(42, 42, 42, 0.15);
            position: absolute;
            top: calc(50% - 47px / 2);
            > img {
                padding: 17px 12px 12px 17px;
            }
        }
        &Left {
            left: 0;
        }
        &Right {
            right: 0;
        }
    }
    &__infoOrderParent {
        padding-top: 65px;
        padding-bottom: 65px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
    }
    &__info {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__categoryName {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #f16d7f;
            padding: 0 20px;
        }
        > hr {
            background: #ef5b70;
            width: 63px;
            height: 3px;
            margin: 12px 12px;
        }
        &__productName {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4d4d4d;
            padding: 0 30px 48px;
        }
        &__description {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5e5e5e;
            padding: 0 25px 32px;
            max-width: 597px;
        }
        > p {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            color: #ef5b70;
            padding-bottom: 65px;
        }
    }
    &__order {
        > hr {
            color: #eaeaea;
            max-width: 641px;
            margin: 0 auto;
            opacity: 0.2;
            margin-bottom: 65px;
        }
        &-sorting {
            display: flex;
            justify-content: center;
            margin-bottom: 48px;
            > div {
                padding: 0 23px 0 23px;
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
            }
            > div > img {
                padding-left: 9px;
            }
        }
        &__btn {
            margin: 0 auto;
            height: 47px;
            width: 211px;
            border: 1px solid #ff6a6a;
        }
        &__btn-link {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 19px;
            color: #f26376;
            position: relative;
            padding: 14px 56px 14px 72px;
            &:before {
                position: absolute;
                content: url(img/basketpink.svg);
                left: 23px;
            }
        }
    }
}

//CART
.cart {
    margin: 96px auto 128px;
    display: flex;
    &__left-cards {
        margin-bottom: 72px;
        &__card {
            display: flex;
            width: 652px;
            height: 306px;
            margin-bottom: 40px;
        }
        &__card-information {
            padding: 22px 22px 62px 31px;
            width: 390px;
            font-family: "Lato", sans-serif;
            &__header {
                display: flex;
                justify-content: space-between;
                font-size: 24px;
                font-weight: 400;
                line-height: 29px;
                color: #222222;
                margin-bottom: 42px;
                img {
                    width: 18px;
                    height: 18px;
                }
            }
            &__info {
                font-size: 22px;
                line-height: 26px;
                color: #575757;
                > div:not(:last-child) {
                    margin-bottom: 6px;
                }
                span {
                    color: #ff6a6a;
                }
                input {
                    border: 1px solid #eaeaea;
                    width: 43px;
                    height: 24px;
                }
            }
        }
    }
    &__left-buttons {
        display: flex;
        justify-content: space-between;
        &__btn a {
            border: 1px solid #a4a4a4;
            padding: 16px 39px;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #4a4a4a;
            &:hover {
                background: #f16d7f;
                color: #ffffff;
                transition: 1s;
            }
        }
    }
    &__right {
        margin-left: 129px;
        padding-top: 22px;
        display: flex;
        flex-direction: column;
    }
    &__right-adress {
        &__header {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-bottom: 20px;
        }
        > input {
            display: block;
            margin-bottom: 20px;
            background: #ffffff;
            border: 1px solid #a4a4a4;
            width: 359px;
            height: 44px;
            &::placeholder {
                padding: 13px 16px 16px 16px;
            }
        }
        &__btn a {
            padding: 9px 14px;
            width: 100px;
            height: 34px;
            border: 1px solid #a4a4a4;
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 14px;
            line-height: 34px;
            color: #4a4a4a;
            text-align: center;
            margin-bottom: 57px;
            &:hover {
                background: #f16d7f;
                color: #ffffff;
                transition: 1s;
            }
        }
    }
    &__right-checkout {
        background: #f5f3f3;
        width: 360px;
        height: 214px;
        padding: 39px 43px 43px;
        box-sizing: border-box;
        &__subtotal {
            font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 11px;
            line-height: 13px;
            color: #4a4a4a;
            margin-left: 190px;
            margin-bottom: 12px;
        }
        &__grandtotal {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #222222;
            margin-left: 125px;
            margin-bottom: 21px;
            > span {
                font-weight: 700;
                color: #ff6a6a;
            }
        }
        > hr {
            background: #e2e2e2;
        }
        &__btn a {
            margin-top: 17px;
            background: transparent;
            padding: 15px 40px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #f16d7f;
            border: solid 1px #f16d7f;
            font-family: "Lato", sans-serif;
            &:hover {
                border: solid 1px transparent;
                background: #f16d7f;
                color: #ffffff;
                transition: 1s;
            }
        }
    }
}
//REGISTRATION
.registration {
    display: flex;
    margin-top: 64px;
    margin-bottom: 96px;
    justify-content: space-between;
    &__left {
        margin-right: 128px;
        min-width: 360px;
        &__name {
            display: flex;
            flex-direction: column;
            &-txt {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin-bottom: 20px;
            }
            &-input {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #b1b1b1;
                padding: 15px;
                border: 1px solid #a4a4a4;
                margin-bottom: 21px;
            }
        }
        &__sex {
            display: flex;
            margin-bottom: 33px;
            &-lab {
                display: flex;
                margin-right: 20px;
                & span {
                    font-family: "Lato", sans-serif;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 13px;
                    color: #000000;
                }
            }
            &-input {
                margin-right: 10px;
            }
        }
        &__login {
            display: flex;
            flex-direction: column;
            &-email {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #b1b1b1;
                padding: 15px;
                border: 1px solid #a4a4a4;
                margin-bottom: 21px;
            }
            &-pass {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #b1b1b1;
                padding: 15px;
                border: 1px solid #a4a4a4;
                margin-bottom: 15px;
            }
        }
        &__info {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 13px;
            line-height: 16px;
            color: #b1b1b1;
            margin-bottom: 39px;
        }
        &__btn {
            border: none;
            & a {
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 17px;
                width: 100%;
                color: #f16d7f;
                background: #ffffff;
                border: 1px solid #f16d7f;
                padding: 16px 29px;
                &:hover {
                    color: #ffffff;
                    background: #f16d7f;
                }
            }
        }
    }
    &__right {
        &__header {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 20px;
        }
        &__txt {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            font-size: 24px;
            line-height: 29px;
            padding-bottom: 21px;
        }
        &__list {
            &-item {
                font-family: "Lato", sans-serif;
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                padding-bottom: 16px;
                list-style-type: none;
                &::before {
                    content: url(img/Vector.svg);
                    margin-right: 23px;
                }
            }
        }
    }
}
@media (min-width: 1600px) {
    #menu:target {
        opacity: 1;
        visibility: visible;
    }
    .menu {
        &__close {
            margin-left: 203px;
            margin-top: 16px;
        }
        &__header {
            font-family: "Lato", sans-serif;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin-top: 10px;
            padding-left: 34px;
        }
        &__header-category {
            font-family: "Lato", sans-serif;
            font-size: 14px;
            line-height: 17px;
            color: #f16d7f;
            margin-top: 20px;
            padding-left: 34px;
            &__list {
                font-family: "Lato", sans-serif;
                font-size: 14px;
                line-height: 17px;
                color: #6f6e6e;
                padding-top: 12px;
                padding-left: 55px;
            }
            &__list-item {
                margin-bottom: 12px;
            }
        }
    }
    .product__infoOrderParent {
        margin-top: -64px;
        position: relative;
    }
}
@media (max-width: 1024px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .products__cardbox {
        grid-gap: 16px;
        grid-template-columns: repeat(2, 2fr);
        grid-template-areas:
            "product1 product2"
            "product3 product4"
            "product5 product6";
    }
    .header__content-text {
        margin-left: 39px;
        &__topword {
            font-weight: 700;
            font-size: 32px;
            line-height: 37px;
        }
    }
    .header__content-img {
        display: none;
    }
    .header__content-img2 {
        display: block;
    }
    .footer__top-content {
        flex-direction: column;
        &__subscribe-text {
            margin-top: 48px;
            margin-bottom: 27px;
        }
        &__subscribe-form {
            margin-bottom: 140px;
        }
    }
    .advantages {
        &__list {
            flex-direction: column;
            padding: 0 0 64px;
            align-items: center;
        }
        &__list-item {
            width: 360px;
            padding-top: 48px;
        }
    }
    // CATALOG
    .catalog__filter {
        margin: 24px 0 40px 0;
        justify-content: space-between;
    }
    // PRODUCT
    #hidden-card {
        display: none;
    }
    .product__infoOrderParent {
        border: none;
        border-bottom: 1px solid #eaeaea;
    }
    //CART
    .cart {
        flex-direction: column;
        &__left {
            width: 100%;
            &-cards {
                &__card {
                    width: 100%;
                    &-information {
                        width: 100%;
                    }
                }
            }
            &-buttons {
                justify-content: space-around;
            }
        }
        &__right {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
            margin-top: 42px;
        }
    }
    //REGISTRATION
    .registration {
        &__left {
            margin-right: 22px;
        }
        &__right {
            max-width: 354px;
        }
    }
}
@media (max-width: 667px) {
    .container {
        padding-left: 8px;
        padding-right: 8px;
    }
    .header {
        &__content-img2 {
            display: none;
        }
        &__content {
            padding: 146px 56px;
        }
        &__content-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            margin-left: 0;
            &__topword {
                font-weight: 900;
                font-size: 38px;
                line-height: 45px;
            }
        }
        &__top {
            &-basket {
                &__count {
                    display: none;
                }
            }
        }
    }
    .header__top-menu {
        padding-right: 0;
    }
    .header__top-profile {
        display: none;
    }
    .header__top-basket {
        display: none;
    }
    .products__cardbox {
        grid-gap: 32px;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas:
            "product1"
            "product2"
            "product3"
            "product4"
            "product5"
            "product6";
    }
    .categories {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 260px 260px 260px 180px;
        grid-template-areas:
            "women"
            "men"
            "kids"
            "accesories";
    }
    .footer__copy {
        height: 143px;
    }
    .footer__copy-items {
        flex-direction: column;
        align-items: center;
    }
    .footer__copy-icons {
        order: 1;
    }
    .footer__copy-text {
        order: 2;
    }

    // CATALOG

    .header {
        &__bread-items {
            justify-content: unset;
            flex-direction: column;
        }
        &__bread-activePage {
            margin: 24px 0 32px;
        }
    }
    .catalog {
        &__filter {
            margin-left: 0;
        }
        &__filter-categories {
            margin-right: 0;
        }
        &__filter-categories span {
            display: none;
        }
        &__filter-categories img {
            width: 37.5px;
            height: 25px;
        }
        &__filter-sorting {
            font-size: 12px;
            line-height: 14px;
        }
        &__filter-sorting img {
            margin-left: 10px;
        }
        &__filter-sorting > div:not(:last-child) {
            margin-right: 23px;
        }
    }

    // PRODUCT

    .product {
        &__cardbox {
            margin: 64px 0 64px;
        }
        &__info {
            &__productName {
                padding-bottom: 31px;
            }
            > p {
                padding-bottom: 32px;
            }
        }
        &__order {
            > hr {
                width: 174px;
                margin-bottom: 50px;
            }
            &-sorting {
                margin-bottom: 64px;
                > div {
                    font-size: 10px;
                    line-height: 12px;
                    padding: 0 18px 0 18px;
                    > img {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
    //CART
    .cart {
        &__left {
            &-buttons {
                &__btn {
                    width: 174px;
                    height: 32px;
                    a {
                        font-size: 12px;
                        line-height: 14px;
                        text-align: center;
                    }
                }
            }
        }
        &__right {
            flex-direction: column;
            margin-left: 0;
            margin-top: 26px;
            input {
                width: 100%;
            }
        }
    }
    //REGISTRATION
    .registration {
        flex-direction: column;
        &__right {
            margin-top: 40px;
            max-width: 100%;
        }
        &__left {
            width: 100%;
        }
    }
}
@media (max-width: 375px) {
    .catalog {
        &__filter-sorting > div:not(:last-child) {
            margin-right: 8px;
        }
        &__filter-sorting img {
            margin-left: 3px;
        }
    }
    .product {
        &__info {
            &__productName {
                font-size: 16px;
            }
        }
    }
    .cart {
        &__right {
            flex-direction: column;
            justify-content: center;
        }
    }
}
